body{
color:#dedede;
}
#container{
width: 1440px;
margin-left: auto;
margin-right: auto;
font-family:verdana;
}
#logo{
background-color: black;
text-align:center;
padding: 10px;
}
#nav{
float:left;
background-color: black;
font-size: large;
color:#dedede;
width: 200px;
padding: 10px;
}
#content{
float: left;
background-color: black;
text-align:center;
color:#dedede;
padding: 100px;
width: 800px;
}
#ad{
float: left;
background-color: black;
width: 200px;
padding: 10px;
text-align:center;
}
#footer{
clear: both;
background-color: black;
color: white;
text-align: center;
padding: 10px;
}
a:link{
color: #dedede;
text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #dedede;
}

a:hover {
  text-decoration: none;
  color: grey;
}

a:active {
  text-decoration: underline;
}
